*{
    padding: 0px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.nav-top{
    background-color: #38B8C0;
    width: 100%;
    height: 94px;
    display: flex;
    position: fixed;
    z-index: 1;
}
.cict {
    padding: 8px;
    width: 200px;
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

img.logo {
    border-radius: 50%;
    width: 93px;
    height: 93px;
    padding: 7px;
    margin-left: 10px;
    
}

/* .logout-btn {
    position: absolute;
    margin-top: 30px;
    padding: 15px ;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 70px;
    height: 25px;
    border-radius: 5px;
    border-color: rgb(177, 177, 177);
    margin-left: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.profile {
    margin-top: 30px;
    height: 40px;
    width: 40px;
    border-radius: 9px;
    margin-left: 30px;
    border-style: solid;
    border-width: 1px;
    
}
.profile img {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    
}

.profile i {
    font-size: 32px;
    margin-top: 5px;
}

/**SIDEBAR**/
.sidebar-container {
    width: 300px;
    height: 100%;
    background-color: rgba(185, 184, 174, 0.884);
    position: fixed;
}

.profilepic-container {
    width: 160px;
    height: 160px;
    margin-top: 120px;
    margin-left: 24%;
    background-color: rgb(151, 151, 151);
    border-radius: 90px;
    border: 0.5px solid rgb(151, 151, 151);
}

.sidebar .profilepic-container img {
    width: 158px;
    height: 158px;
    background-color: rgb(180, 199, 202);
    z-index: -1;
    border-radius: 100px;
}

.profile-username {
    background-color: #ebebeb00;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.year-list {
    background-color: rgba(167, 165, 165, 0);
    padding: 8px;
}

.sy {
    display: block;
    margin: 8px;
    height: 40px;
    width: 95%;
    color: black;
    border-width: 1px;
    border-color: rgba(0, 0, 255, 0.377);
    border-radius: 3px;
    box-shadow: 3px 4px rgba(128, 128, 128, 0.178);
    transition: all 0.5s;
    cursor: pointer;
    font-weight: 600;
    font-size: 11px;
}

.sy span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.sy span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5sS;
}


.sy:hover span {
    padding-right: 25px;
}

.sy:hover span:after {
    opacity: 1;
    right: 0;
}

.sy:active {
    opacity: 1;
    right: 0;
    background-color: rgba(0, 255, 255, 0.479);
    margin: 12px;
}


/**INFOBOX**/
.info-box {
    background-color: rgba(185, 184, 174, 0.438);
    padding: 20px;
    margin-top: 114px;
    margin-left: 320px;
    width: 1000px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 3px 4px rgba(128, 128, 128, 0.411);
}

.info-box p {
    margin-left: 15px;
}
.info-box span {
    font-weight: 600;
}




/**ACADEMIC EVALUATION**/
.academic-evaluation {
    background-color: rgba(185, 184, 174, 0.438);
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 212px;
    width: 1000px;
    border-radius: 15px;
    box-shadow: 4px 6px rgba(128, 128, 128, 0.404);
}

.ae {
    font-size: 20px;
    font-weight: 500;
}

tr {
    font-size: 12px;
}

h2 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
}

.midterm, .final {
    margin: 10px;;
    background-color: rgba(219, 230, 231, 0.733);
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: 3px 4px rgba(128, 128, 128, 0.178);
}

table{
    width: 880px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 5px;
}

th, td {
    border: 1px solid rgba(128, 128, 128, 0.582);
    padding: 10px;
}

th{
    background-color: rgba(187, 197, 204, 0.884); 
}

tr {
    background-color: rgba(177, 181, 192, 0.267);
}
tr:hover {
    background-color: rgba(240, 248, 255, 0.747);
}





/* logout confirmation */
.confirmation {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    /* padding: 14px 20px; */
    /* margin: 8px 0; */
    margin-left: 860px;
    margin-top: 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    opacity: 0.9;
    font-size: 14px;
  }
  
  button.cancel {
    background-color: grey;
    color: black;
    margin-left: 0;
    margin: 10px;
    margin-top: -10px;
  }
  
  button.logout {
    background-color: red;
    margin-left: 0;
  }
  
  button.confirmation:hover {
    opacity:1;
  }
  
  .msg {
      font-size: 16px;
  }
  
  /* Float cancel and delete buttons and add an equal width */
  .cancelbtn, .logoutbtn {
    float: left;
    width: 50%;
    
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #e0e0e0;
    color: black;
  
  }
  
  /* Add a color to the delete button */
  .logoutbtn {
    background-color: #fd6d63;
  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin: auto;
    width: 40%; /* Full width */
    height: 28%; /* Full height */
    overflow:hidden;
    background-color: #474e5d93;
    padding-top: 15px;
    border-radius: 6px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
    height: 100px;
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
  }
  
  .close:hover {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .clearfix {
      /* background-color: green; */
      margin: 2px;
      padding: 0;
      margin-top: -30px;
  }

  /* logout confirmation */
.confirmation {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    /* padding: 14px 20px; */
    /* margin: 8px 0; */
    margin-left: 860px;
    margin-top: 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 70px;
    height: 30px;
    opacity: 0.9;
    font-size: 14px;
  }
  
  button.cancel {
    background-color: grey;
    color: black;
    margin-left: 0;
    margin: 10px;
    margin-top: -10px;
  }
  
  button.logout {
    background-color: red;
    margin-left: 0;
  }
  
  button.confirmation:hover {
    opacity:1;
  }
  
  .msg {
      font-size: 16px;
  }
  
  /* Float cancel and delete buttons and add an equal width */
  .cancelbtn, .logoutbtn {
    float: left;
    width: 50%;
    
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #e0e0e0;
    color: black;
  
  }
  
  /* Add a color to the delete button */
  .logoutbtn {
    background-color: #fd6d63;
  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin: auto;
    width: 40%; /* Full width */
    height: 28%; /* Full height */
    overflow:hidden;
    background-color: #474e5d93;
    padding-top: 15px;
    border-radius: 6px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
    height: 100px;
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
  }
  
  .close:hover {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .clearfix {
      /* background-color: green; */
      margin: 2px;
      padding: 0;
      margin-top: -30px;
  }






  /* logout confirmation */
.confirmation {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  /* padding: 14px 20px; */
  /* margin: 8px 0; */
  margin-left: 860px;
  margin-top: 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 70px;
  height: 30px;
  opacity: 0.9;
  font-size: 14px;
}

button.cancel {
  background-color: grey;
  color: black;
  margin-left: 0;
  margin: 10px;
  margin-top: -10px;
}

button.logout {
  background-color: red;
  margin-left: 0;
}

button.confirmation:hover {
  opacity:1;
}

.msg {
    font-size: 16px;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .logoutbtn {
  float: left;
  width: 50%;
  
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #e0e0e0;
  color: black;

}

/* Add a color to the delete button */
.logoutbtn {
  background-color: #fd6d63;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin: auto;
  width: 40%; /* Full width */
  height: 28%; /* Full height */
  overflow:hidden;
  background-color: #474e5d93;
  padding-top: 15px;
  border-radius: 6px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
  height: 100px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

.close:hover {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.clearfix {
    /* background-color: green; */
    margin: 2px;
    padding: 0;
    margin-top: -30px;
}